<form>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label> Nom</label>
        <input type="text" #nomAction="ngModel" class="form-control" required [(ngModel)]="managerModif.nom" name="nom">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label> Prénom</label>
        <input type="text" #nomAction="ngModel" class="form-control" required [(ngModel)]="managerModif.prenom"
          name="prenom">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label> e-mail</label>
        <input type="text" #nomAction="ngModel" class="form-control" required [(ngModel)]="managerModif.mail"
          name="mail">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label> Mot de passe </label>
        <input type="text" #nomAction="ngModel" class="form-control" required [(ngModel)]="managerModif.mdp" name="mdp">
      </div>
    </div>
  </div>
  <div>
    <button (click)="modifManager(managerModif.id)" class="btn btn-primary" data-dismiss="modal">Modifier</button>
    <button (click)="cacheAjoutModif()" class="btn btn-basic">Retour</button>
  </div>
</form>