<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="titre">Bonjour, {{ prenomA }} {{ nomA }} - Votre Espace Admin</h3><br>
    </div>
  </div>
  <div class="row">
    <div style="width: 100%" class="alert alert-success text-center" role="alert" *ngIf="showMessageCreate">
      Le compte a bien été créé.
    </div>
  </div>
  <div class="row" style="text-align: center">
    <div class="col">
      <button mat-stroked-button type="button" (click)="afficheAjout()" (click)="ajoutReset()"
        data-toggle="modal">Ajouter un
        manager</button>
      <div class="row" style="text-align: center" *ngIf="showAjout">
        <div class="col">
          <br>
          <app-ajout-admin></app-ajout-admin>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Liste des Managers">
      <app-liste-mangers></app-liste-mangers>
    </mat-tab>
    <mat-tab label="Liste des Clients">
      <app-liste-clients></app-liste-clients>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="modal fade" id="activation" tabindex="-1" role="dialog" aria-labelledby="connexionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> </h5>
      </div>
      <div class="modal-body">

        <h6 class="card-title text-center">Désactiver le compte du manager <strong>{{managerAD.prenom}}
            {{managerAD.nom}} ?</strong></h6>
        <form>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary" data-dismiss="modal" (click)="activation(managerAD.id)">Valider</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="reactivation" tabindex="-1" role="dialog" aria-labelledby="connexionLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> </h5>
      </div>
      <div class="modal-body">

        <h6 class="card-title text-center">Réactiver le compte du manager <strong>{{managerAD.prenom}} {{managerAD.nom}}
            ?</strong></h6>
        <form>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary" data-dismiss="modal" (click)="activation(managerAD.id)">Valider</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>